<h1>New article</h1>

<%= form_with model: @article do |f| %>
  <%= f.label :title, "Title"%>
  <%= f.text_field :title%>
  <%= f.label :content, "Content"%>
  <%= f.text_field :content%>
  <%= f.submit "Create Article"%>
<% end %>

<%= link_to "back", articles_path %>
